*, *:before, *:after {
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

h1 {
    text-align: left;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

.inputfield {
    width: 100%;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"],
button[type="button"]{
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    display: block;
    /*text-align: center;*/
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
}
table {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    height: 100%;
    table-layout: fixed;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #7bad8c;
}

